/* Globální styly aplikace */
@import "tailwindcss";

/* Definice základních barevných proměnných */
:root {
  --background: #ffffff; /* Barva pozadí (světlý režim) */
  --foreground: #171717; /* Barva textu (světlý režim) */
}

/* Tmavý režim podle nastavení systému */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Barva pozadí (tmavý režim) */
    --foreground: #ededed; /* Barva textu (tmavý režim) */
  }
}

/* Základní styly pro tělo stránky */
body {
  background: var(--background); /* Použití proměnné pro pozadí */
  color: var(--foreground); /* Použití proměnné pro text */
  font-family: Arial, Helvetica, sans-serif; /* Výchozí písmo */
}
